@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;500;700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    font-family:'Josefin Sans', sans-serif;;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right:8%;
    overflow: hidden;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}
.menu{
    width: 25px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(37, 20, 39);
    font-size: 14px;
}
nav ul li a:hover{
    color: cornflowerblue;
}
.text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
}
.col-1{
    flex-basis: 40%;
    position:relative;
    margin-left: 50px;
}
.col-1 h2{
    font-size: 54px;
}
.col-1 h3{
    font-size: 30px;
    color: rgba(17, 17, 17, 0.76);
    font-weight: 300;
    margin: 20px 0 10px;
}
.col-1 p{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.692);
    font-weight: 300;
}
button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: radial-gradient(circle, rgba(3,34,37,1) 0%, rgba(0,0,0,1) 100%);
    border-radius: 6px;
    cursor: pointer;
    transition:width 0.5s;
}
button img{
    width: 20px;
    display: none;
}
button:hover img{
    display: block;
}
button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.col-2 .principal-cat{
width: 65%;
transform: translateX(200px);
}
.color-box{
    position: absolute;
    right:0;
    top: 0;
    background: radial-gradient(circle, rgba(3,34,37,1) 0%, rgba(0,0,0,1) 100%);
    border-radius: 100px 100px 100px 100px;
    height: 100%;
    width: 80%;
    z-index: -1;
    transform: translateX(10px);
}
.redes img{
    height: 40px;
    margin: 20px;
    cursor: pointer;
}
.redes{
    text-align: center;
}
.contenedor{ 
    width:100%;
      margin: auto;
  }
  .persona__columna{
      margin: 5px; 
  }
  .persona__columna img{
      width: 100%;
  }
  .personas .contenedor{
      display: grid;
      }
header{
    height: 15vh;
}
@media only screen and (max-width:1023px){
    nav ul{width: 100%;
    position: absolute;
    top: 75 px;
    right: 0;
    z-index: 2;}
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav aul li a{
        color:#fff;
    }
    .menu{
        display: block;
    }
    .col-2 .principal-cat{
        width: 65%;
        transform: translateX(90px);
        }
}
@media only screen and (max-width:480px){
    .text{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 100px 0;
    }
    header{
        height: 20vh;
    }
    .col-1{
        flex-basis: 10%;
        position:relative;
        margin-left: 2px;
    }
    .col-1 h2{
        font-size: 20px;
    }
    .col-1 h3{
        font-size: 10px;
        color: rgba(17, 17, 17, 0.76);
        font-weight: 300;
        margin: 20px 0 10px;
    }
    .col-1 p{
        font-size: 8px;
        color: rgba(0, 0, 0, 0.692);
        font-weight: 300;
    }
    button{
        width: 60px;
        border: 0;
        padding: 12px 10px;
        outline: none;
        color: #fff;
        background: radial-gradient(circle, rgba(3,34,37,1) 0%, rgba(0,0,0,1) 100%);
        border-radius: 6px;
        cursor: pointer;
        transition:width 0.5s;
    }
    button img{
        width: 15px;
        display: none;
    }
    button:hover{
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .col-2 .principal-cat{
        width: 65%;
        transform: translateX(50px);
        }
        .redes img{
            height: 30px;
            margin: 20px;
            cursor: pointer;
        }
}
@media(min-width:520px){
    .personas .contenedor{     
  grid-template-columns: repeat(2,50%);
    }
    header{
        height: 20vh;
    }
}
@media(min-width:728px){
    .personas .contenedor{
   grid-template-columns: repeat(3,33.3%);
     }
 }
 @media(min-width:1024px){
    .personas .contenedor{
     
   grid-template-columns: repeat(4,25%);
     }
     .contenedor{
          width: 1024px;
     }
 }
 @media(min-width:1200px){
     .contenedor{
          width: 1200px;
     }
 }