<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>gato</title>
</head>
<body>
    <header>
    <div class="container">
        <div class="navbar">
           <img src="../img/images.jpg" class="logo">
           <nav>
               <ul id="menulist" data-mdb-toggle="collapse"
               data-mdb-target="#navbarToggleExternalContent4"
               aria-controls="navbarToggleExternalContent4" aria-expanded="false"
               aria-label="Toggle navigation">
                   <li><a href="../index.html">INICIO</a></li>
                   <li><a href="views/miguel.html">GALERIA</a></li>
                   <li><a href="">APPLE RUNING</a></li>
                   <li><a href="">MOAR CATS</a></li>
               </ul>
           </nav>
           <img src="../img/menu.jpg" class="menu" >
    </header>
    <h1>CSS GRID</h1>
<section class="personas">
    <div class="contenedor">
        <article class="persona__columna">
        <img src="../img/img1.jpg">
        </article>
          <article class="persona__columna">
        <img src="../img/img2.jpg">
        </article>
          <article class="persona__columna">
       <img src="../img/img3.jpg">
        </article>
          <article class="persona__columna">
        <img src="../img/img4.jpg">
        </article>
          <article class="persona__columna">
        <img src="../img/img5.jpeg">
        </article>
          <article class="persona__columna">
       <img src="../img/img6.jpg">
        </article>
           <article class="persona__columna">
        <img src="../img/img7.jpg">
        </article>
          <article class="persona__columna">
        <img src="../img/img8.jpg">
        </article>
    </div>
    </section>

</body>
</html>